.App {
	color: #111;
	background-color: #ffff;
	--effect-scale: 1.1;
}

.dot {
	height: 50%;
	width: 50%;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
  }

.square {
	height: 100px;
	width: 100px;
	background-color: #bbb;
}
